body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

button {
  font-size: 30px;
}

.redDigit {
  color: red;
}